
body {
	background-image: url(../imagenes/fondo.png);
	background-size:100%;
	
	font-family: "Comic Sans MS", cursive;
	
	}
.imageness{
	
	width:100%;
	height:281px;
}
.estilo1{font-family: Titulo;font-size: 80px;color:#F90; text-align:center
}
.estilo2{font-family: Titulo;font-size: 40px;color:#F60; text-align:center
}
.estilo3{font-family: TexStyle;font-size: 36px;color:#960; text-align:center;}
.estilo4{font-family: Titulo;font-size: 50px;color:#0CF; text-align:center}
.imares{
width:150px;
height:150px;

}

#banner_left{
margin-left:50px;
border: solid 1px;
border-radius: 15px 15px 15px 15px;
width:300px;
height:300px;
border-color:#2A701D;
background-color:#2A701D;
}

#banner_right{
position:absolute;
left: 400px;
top: 429px;
margin-left:50px;
padding-left:30px;
padding-top: 30px;
border: solid 1px;
border-radius: 15px 15px 15px 15px;
width:700px;
height:271px;
border-color:#2A701D;
background-color:#2A701D;
}

#menu_categorias{

color:yellow;
list-style-type: none;
}
#cate{
font-size:24px;
}
@font-face {
	font-family: "TexStyle";
	font-style: normal;
	font-weight: normal;
	src: local("?"), url("../estilos/kratos.woff") format("woff"), url("../estilos/kratos.ttf") format("truetype");
}
@font-face {
	font-family: "Titulo";
	font-style: normal;
	font-weight: normal;
	src: local("?"), url("../estilos/infected.woff") format("woff"), url("../estilos/infected.ttf") format("truetype");
			}