body {background-image: url(../imagenes/fondo.png);
	   background-size:100%;
	   font-family: "Comic Sans MS", cursive;}
.header{
    background: url(../imagenes/background_header.jpg);    
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 15px;
	
}
.logo {
    width: 100px;
}
.btn {
    color: #FFF;
    background: #6C6;
    padding: 5px 15px 5px 15px;
    margin: 3px 3px 3px 3px;
    float: right;
}	   
.estilo4{font-family: footer;font-size: 20px;color:#FFFFFF; text-align:left
}		
		
.formato1{
		color:#090;
		font-size:20px;
		}
	
.formatoboton{
		border:#060;
		border-bottom-width:medium;
		background:#060;
		color:#FFF;
		font-size: 25px;
		width:130px;
		height:60px;
		border-radius: 15px 15px 15px 15px;	
	}
	
.puntos{
		color:#090;
		font-size:32px;
		text-align:center;
	}		

.font-face {
       font-family: "Titulo";
       font-style: normal;
       font-weight: normal;
       src: local("?"), url("estilos/assassin.woff") format("woff"), url("estilos/assassin.ttf") format("truetype");
        }
.font-face {
       font-family: "Contenido";
       font-style: normal;
       font-weight: normal;
       src: local("?"), url("estilos/Cartoon.woff") format("woff"), url("estilos/Cartoon.ttf") format("truetype");
                }
footer{    
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #060;
    color: #393;
	border-radius: 50px 50px 50px 50px;	
}
.centrar{
	text-align:center;
	}

