
body {
	background-image: url(../imagenes/fondo.png);
	background-size:100%;
	font-family: "Comic Sans MS", cursive;
	
	}

.estilo1{font-family: Titulo;font-size: 80px;color:#F90; text-align:center
}
.estilo2{font-family: Titulo;font-size: 32px;color:#000; text-align:center
}
.estilo3{font-family: Contenido;font-size: 45px;color:#F90; text-align:center
}
.estilo4{font-family: footer;font-size: 20px;color:#FFFFFF; text-align:left
}


header{
    background: url(../imagenes/background_header.jpg);    
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 15px;
	
}
.logo {
    width: 100px;
}
.btn {
    color: #FFF;
    background: #6C6;
    padding: 5px 15px 5px 15px;
    margin: 3px 3px 3px 3px;
    float: right;
}
footer{    
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #060;
    color: #393;
	border-radius: 50px 50px 50px 50px;	
} 
.puntos{
		color:#090;
		font-size:32px;
		text-align:center;
	}