body {background-image: url(../imagenes/fondo.png);
	   background-size:100%;
	   font-family: "Comic Sans MS", cursive;}
.header{
    background: url(../imagenes/background_header.jpg);    
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 15px;
	
}
.logo {
    width: 100px;
}
.btn {
    color: #FFF;
    background: #6C6;
    padding: 5px 15px 5px 15px;
    margin: 3px 3px 3px 3px;
    float: right;
}	   
.imagen{width:100%;
	    height:281px;}

.sobre {position:absolute;
 		top:9px;
 		left:9px;
 		border:none;
 		width:25%;
 		height:281px;}
		
.sobrearriba{
	position: absolute;
	top: 16px;
	left: 682px;
	border: none;
	width: 385px;
	height: 28px;
	border-radius: 15px 15px 15px 15px;
}

.centrar{
	text-align:center;
	}
.izquierda{
	text-align:left;
	}
	
.direcccion{
	float:left;
	}		
.formato1{
		border-color:#390;
		border-style:solid;
		background:#6C3;	
		float:left;
		}
.formato2{
		border-color:#390;
		border-style:solid;
		background:#6C3;
		float:right;
		}
	
.formato{
		border-color:#390;
		border-style:solid;
		background:#6C3;
		float:none;
		}
		
.formatoboton{
		border:#060;
		border-bottom-width:medium;
		background:#060;
		color:#FFF;
		font-size: 25px;
		width:130px;
		height:60px;
		border-radius: 15px 15px 15px 15px;	
	}
	
.puntos{
		color:#090;
		font-size:32px;
		text-align:center;
	}		
.formacontacto{
		color:#FFF;
		font-size: 18px;
		border:#060;
		border-width::medium;
	    background:#060;
		border-radius: 15px 15px 15px 15px;	
		width:75%;
	}
.font-face {
       font-family: "Titulo";
       font-style: normal;
       font-weight: normal;
       src: local("?"), url("estilos/assassin.woff") format("woff"), url("estilos/assassin.ttf") format("truetype");
        }
.font-face {
       font-family: "Contenido";
       font-style: normal;
       font-weight: normal;
       src: local("?"), url("estilos/Cartoon.woff") format("woff"), url("estilos/Cartoon.ttf") format("truetype");
                }
